tag(color)
  .text
    padding 6rpx 18rpx
    font-size button-small-font-size
    color color
    opacity 0.9
    box-sizing border-box
    border 1px solid color
    border-radius 40rpx

roundStyle(i)
  right random(0, 80 - i * 15)px
  bottom random(40 - i * 20, 80 - i * 10)px
  width (i * 15) px
  height (i * 15) px
