.round-style-0
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-1
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-2
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-3
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-4
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-5
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-6
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-7
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)

.round-style-8
  for index in 1 2 3 4
    .round-{index}
      roundStyle(index)